<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i" rel="stylesheet">
    <title>SkyBikes</title>
  </head>
  <body>
    <header>
      <h1>SkyBikes</h1>
    </header>
    <div class="page-wrap">
      <section id="login"></section>
      <section id="stations"></section>
    </div>
  </body>
</html>
