.station {
  width: 100%;
  margin-bottom: 2em;
}

.station p {
  margin-bottom: 1em;
}

.bike {
  display: inline-block;
  width: 10%;
  text-align: center;
  padding: 1.5em;
}

@media only screen and (max-width: 640px) {
  .bike {
    width: 20%;
    padding: 1em;
  }
}
