.station {
  width: 100%;
  margin-bottom: 2em;
}

#instructions {
  font-style: italic;
  margin-bottom: 2em;
}

.station p {
  margin-bottom: 1em;
}

.slot {
  display: inline-block;
  width: 10%;
  padding: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
}

.bike {
  background-image: url('./../../public/bike.svg');
}

.parking {
  background-image: url('./../../public/parking.svg');
}


@media only screen and (max-width: 640px) {
  .bike {
    width: 20%;
    padding: 1em;
  }
}
